!!! 5
%html
  %head
    %title Kennion Management | Next Generation Business Development
    %link{ :href => "../stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    / %link{ :href => "stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

  / ******************
  /
  / A Robocomobo site.
  / ------------------
  / ******************

  %body
    %nav
  
    %section= yield